<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<p style="align:center">
    <img src="corelogo_hires.png" width="100px"/>
</p>
        <h1>Repository ${idRepository} finished task ${task}.</h1>
        <p>Hi dear CHARS operator,</p>
        <p>I thought you would like to know that repository ${idRepository} has just finished task ${task}.</p>
        <p></p>
        <p>Cheers,</p>
        <p>Your beloved CHARS</p>

    --<br/>
    <em>CHARS</em> CORE HARvesting System<br/>
    Backend microservices framework<br/>
    made with love, <br/>    
    maintened with pain. <br/>

</p>
</body>
</html>
