html,
body {
    font-family: roboto, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 16px;
    font-weight: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background: #fff;
}

body {
    margin: 1em;
}

h1 {
    margin: 24px 0;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    font-weight: 600;
    color: #212121;
}

p {
    margin: 24px 0;
}

a {
    color: #b75400;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #812700;
    text-decoration: underline;
}

header {
    background-color: #FAFAFA;
    border-bottom: 7px solid #b75400;
    display: table;
    width: 100%;
}

header .title,
header .logo {
    display: table-cell;
}

header .title {
    vertical-align: top;
    padding: 25px;
}

header .logo {
    text-align: right;
    padding: 10px 15px;
}

header .repo_name {
    color: #b75400;
}

header .repo_name,
header .text {
    font-size: 24px;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    font-family: roboto, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background: #b75400;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition-duration: 150ms;
    transition-property: color, background, border-color, box-shadow;
}

.button:hover,
.button:focus {
    background-color: #812700;
    color: #fff;
    text-decoration: none;
    outline: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2),
    inset 0 0 4px rgba(0, 0, 0, 0.05);
}

.button_reverse {
    background-color: transparent;
    border: 1px solid #b75400;
    color: #b75400;
}

.signature {
    color: #616161;
}

.block_points,
.block_edition {
    text-align: center;
}

.point {
    display: inline-block;
    max-width: 160px;
    text-align: center;
    margin: 0 15px;
    vertical-align: top;
}

.point .title {
    font-weight: bold;
}

.email_registration,
.email_claim {
    max-width: 600px;
    margin: 0 auto;
}

.email_registration,
.email_claim p {
    font-size: 16px;
}

.wrong_email {
    color: #757575;
}

.wrong_email a {
    text-decoration: underline;
    color: #757575;
}

.email_registration p {
    padding: 0 25px;
}

.email_registration header .sub-title {
    font-size: 24px;
    color: #B75400;
}

.email_registration .api_key {
    padding: 4px 17px;
    background-color: #F8EEE6;
    display: initial;
}

.link {
    padding: 8px 16px;
    background-color: #B75400;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
}

.included_list li {
    padding: 0 0 15px 0;
}

.edition {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

.edition .logo {
    width: 72px;
    margin: 0 auto;
}

.block_points .text,
.edition .text {
    font-size: 12px;
}

.block_harvested code {
    font-size: 12px;
}

.best_regards div {
    display: inline-block;
}

.best_regards {
    background-color: #FAFAFA;
    display: table;
    width: 100%;
    margin-top: 15px;
    position: relative;
}

.best_regards .footer_head {
    margin-left: 25px;
    width: 100px;
    height: 2px;
    background-color: #B75400;
    display: block;
    position: absolute;
    top: 0;
}

.best_regards .text {
    padding: 25px 0 25px 27px;
    display: table-cell;
    vertical-align: top;
}

.email_registration .best_regards .text {
    display: block;
}

.best_regards .logo {
    display: table-cell;
    text-align: left;
    padding: 10px 15px;
}

.email_registration .best_regards .logo {
    display: inline-block;
    text-align: left;
    padding: 10px 0 15px 27px;
}


.email_claim .best_regards .logo svg {
    width: 45px;
}

.email_registration .best_regards .logo svg {
    width: 20px;
    height: auto;
}

.email_registration .best_regards .logo .text {
    font-size: 16px;
}

.best_regards .text {
    padding: 25px 0 25px 27px;
    display: block;
    float: left
}

.email_registration .best_regards .text {
    padding: 4px 0px 0px 27px;
    display: block;
    float: none;
}

.email_registration .best_regards .logo .text {
    padding: 3px 0 0 0;
    display: inline-block;
    float: none;
    font-weight: 500;
}

footer {
    background-color: #EEEEEE;
}

footer .text {
    font-size: 10px;
    padding: 26px 42px;
    text-align: center;
    color: #757575;
}

footer a {
    color: #757575;
    text-decoration: underline;
}

.instruction {
    padding: 20px 23px 5px 23px;
}

.reminder {
    padding: 20px 23px;
}

.instruction,
.reminder {
    background: #F5F5F5;
    font-size: 14px;
    margin: 0 25px;
}

.option {
    color: #626262;
    display: block;
}

.dot {
    border-radius: 50%;
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #000000;
    margin: 0 5px 2px 7px;
}

.color_primary {
    color: #B75400;
}

.bold {
    font-weight: bold;
}

.sub_p {
    display: block;
    margin-bottom: 15px;
}

.italic {
    color: #626262;
    font-weight: 200;
    font-style: italic;
}

.dataset_2021 {
    border-top: 3px solid #B75400;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    margin: 24px 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dataset_2021 .title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 24px 0;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.image_cloud {
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

.padding_15 {
    padding: 15px 0;
}

.padding_25 {
    padding: 25px 0;
}

.md_5 {
    background: #F5F5F5;
    padding: 7px 9px;
}

.other_dataset_title_bg {
    background: #F3F9ED;
}

.other_dataset_text {
    color: #5A9216;
}

.other_dataset_download_bg {
    background: #8BC34A;
}

.archive_dataset_title_bg {
    background: #EAEEF7;
}

.archive_dataset_text {
    color: #2A51AA;
}

.archive_dataset_download_bg {
    background: #2A51AA;
}

.bold_500 {
    font-weight: 500;
}

.title_dataset {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: block;
}

.block_datasets td:nth-child(2n){
    padding-left: 10px;
}

.dataset_card {
    font-size: 12px;
    margin-bottom: 25px;
}

.dataset_card .block_size {
    height: 60px;
}

.dataset_card .shadow {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    position: relative;
    /*min-height: 192px;*/
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
}

.dataset_card .title {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 10px 7px 10px;
}

.dataset_card .info {
    line-height: 17px;
    padding: 10px;
    font-size: 12px;
}

.dataset_card .size {
    padding: 2px 10px;
    font-size: 12px;
}

.dataset_card .md5 {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    background: #F5F5F5;
    padding: 7px 0;
    font-size: 12px;
}

.dataset_card .link {
    display: table;
    margin-top: 10px;
}

.block_datasets {
    padding: 0 25px;
    border-spacing: 0;
}

.block_datasets table {
    border-spacing: 0;
}

.block_datasets td {
    vertical-align: top;
    width: 50%;
}
